#home {
  margin: 10px;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), image-url('nature.jpg');
  background-size: 100%;
  background-position: cover;
  color: $blue;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.presentation {
  padding: 0 18vh;
  height: 50vh;
  background-color: $blue;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  font-style: italic;
}

#services {
  margin: 10px;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), image-url('bois.jpg');
  background-size: 100%;
  background-position: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
}

.titre  {
  color: white;
  margin-top: 30px;
  margin-bottom: 10vh;
  font-size: 36px;
}

.mail  {
  color: white;
  margin-top: 30px;
  margin-bottom: 10vh;
  font-size: 24px;
}

.titree  {
  color: white;
  margin-top: 30px;
  margin-bottom: 10vh;
  font-size: 24px;
}

.nom {
  text-align: center;
  margin-bottom: 36px;
  font-size: 36px;
}

.description {
  color: #a9a9a9;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  padding: 0 30px;
}

.border-bottom {
  margin: 60px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  text-align: center;
 }

.border-bottomm {
   padding-bottom: 5px;
   border-bottom: 1px solid $blue;
   text-align: center;
 }


.service {
  margin-top: 50px;
}

.title {
  text-align: center;
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 24px;
  color: white;
}


.icone {
  text-align: center;
  color: white;
}
