#home {
  margin: 10px;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%), image-url('nature.jpg');
  background-size: 100%;
  background-position: cover;
  color: $blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home-content {
  background-position: center;
  margin-top: -15vh;
  display: flex;
  text-align:center;
  width: 90%;
  height: 100%;
  h5 {
    margin: 0;
    color: #a9a9a9;
  }
}

.cerveau {
  position: relative;
}

.accueil {
    flex-direction: column;
    align-self: flex-end;
    position: absolute;
    left: 60%;
}

#services {
  margin: 10px;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), image-url('bois.jpg');
  background-size: 100%;
  background-position: cover;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.titre  {
  color: white;
  margin-top: 30px;
  margin-bottom: 10vh;
  font-size: 36px;
}

.mail  {
  color: white;
  margin-top: 30px;
  margin-bottom: 10vh;
  font-size: 24px;
}

.titree  {
  color: white;
  margin-top: 30px;
  margin-bottom: 10vh;
  font-size: 24px;
}

.nom {
  text-align: center;
  margin-bottom: 36px;
  font-size: 36px;
}

.text {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  padding: 0 30px;
  color: #a9a9a9;
}

.description {
  color: #a9a9a9;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  padding: 0 30px;
}

.border-bottom {
  margin: 60px 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  text-align: center;
 }

.border-bottomm {
   padding-bottom: 5px;
   border-bottom: 1px solid $blue;
   text-align: center;
 }

.member {
  height: 40vh;
}

.banner {
  color: $blue;
  background-color: white;
}

.service {
  margin-top: 50px;
  height: 40vh;
}

.title {
  text-align: center;
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 24px;
  color: white;
}


.icone {
  text-align: center;
  color: white;
}

.projets {
  height: 80vh;
  background-color: $blue;
  color: #a9a9a9;
}

.projet {
  color: #a9a9a9;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 16px;
  font-size: 36px;
}

.card {
  height: 125px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
}

.container {
  padding-top: 0px;
}
