<div class="navbar-wagon">
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <i class="fab fa-gripfire fa-2x"></i>
   <!--  <a href="#services" class="navbar-wagon-item navbar-wagon-link">Services</a> -->
    <!-- <a href="#team" class="navbar-wagon-item navbar-wagon-link">L'équipe</a>
    <a href="#réalisations" class="navbar-wagon-item navbar-wagon-link">Réalisations</a> -->
    <!-- <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a> -->
  </div>
</div>

<div id="home">
  <div class="titre">Creatine</div>
  <div class="mail">creatineagence@gmail.com</div>
</div>

<div id="services">
  <div class="container">
    <div class="row">
      <div class="titre border-bottom">Les services</div>
      <div class="col-xs-12 col-sm-3 service">
        <div class="icone"><i class="fas fa-keyboard fa-2x"></i></div>
        <div class="title">Création site Internet</div>
      </div>
      <div class="col-xs-12 col-sm-3 service">
        <div class="icone"><i class="fas fa-laptop fa-2x"></i></div>
        <div class="title">Développement web</div>
      </div>
      <div class="col-xs-12 col-sm-3 service">
        <div class="icone"><i class="fab fa-pagelines fa-2x"></i></div>
        <div class="title">UX Design</div>
      </div>
      <div class="col-xs-12 col-sm-3 service">
        <div class="icone"><i class="fas fa-database fa-2x"></i></div>
        <div class="title">Machine learning</div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="team" class="banner">
  <div class="container">
    <div class="row">
      <div class="titree border-bottomm">Les 4 fondateurs</div>
      <div class="col-xs-12 col-sm-6 member">
        <div class="nom">
          Nicolas
        </div>
        <div class="description">
          "Après mon parcours scolaire à Polytechnique/HEC, j'ai passé plusieurs années en finance de marché. Je suis avant tout un passionné d'intelligence artificielle (Predictive analytics, Machine Learning, etc.)."
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 member">
        <div class="nom">
          Côme
        </div>
        <div class="description">
          "Je suis le petit jeune de l'équipe. J'ai décidé de faire un bootcamp après mes études en école de commerce pour me lancer dans le code rapidement."
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 member">
        <div class="nom">
          Mickaël
        </div>
        <div class="description">
          "Urgentiste de formation, j'ai toujours été atiré par le code. J'adore être confronté à toutes les problématiques en back-office. Mon point fort, c'est de résoudre des problèmes."
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 member">
        <div class="nom">
          Jean-Baptiste
        </div>
        <div class="description">
          Après 3 années en tant qu'auditeur financier dans un cabinet du big 4, j'ai décidé de m'orienter vers le monde du développement informatique qui me passionne.
        </div>
      </div>
    </div>
  </div>
</div>
 -->
<!-- <div id="réalisations" class="projets">
  <div class="container">
    <div class="row">
      <div class="titre border-bottom">Nos réalisations</div>
      <div class="col-xs-12 col-sm-4">
        <div class="projet">Endurace</div>
        <a target="_blank" href="https://www.endurace.club/">
          <div class="projet">
            <div> <%#= image_tag 'endurace.gif', class: "card" %></div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="projet"> Beetroot </div>
        <a target="_blank" href="http://www.beetroot.club/">
          <div class="projet">
            <div> <%#= image_tag 'beetroot.gif', class: "card" %></div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="projet">Phone Mapper</div>
        <a target="_blank" href="http://www.phonemapper.win/">
          <div class="projet">
            <div> <%#= image_tag 'phone_mapper.gif', class: "card" %></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="footer">
  "Creat'in, le développement d'applications web sur-mesure"
</div> -->

