<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form">
        <form action="https://formspree.io/jbchenut@gmail.com"
              method="POST">
            <div class="form">
              <input type="text" name="name" placeholder="Nom de l'entreprise">
              <br>
              <input type="email" name="_replyto" placeholder="Entrez l'addresse e-mail">
              <br>
              <input type="text" name="name" placeholder="Entrez votre message">
              <br>
              <input type="submit" value="ENVOYER">
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
